body {
background-color: #87706c;
margin:0px;
}

header {
width: 100%; 
height: 100px; 
background-color: #e19487 }

.header {
color: white; 
size:30px; 
margin-left:38rem ; 
color: darkblue; }

ul { 
margin: 0; 
padding: 0; 
margin-left:10rem}

li { 
float: left; 
list-style-type: none;
font-size:20pt;
 }

a { 
display: block; 
padding: 10px; 
font:25pt Georgia; 
text-decoration: none; }

a:hover {
color:black; 
border-bottom:3px solid #CC6600; }

p {
font-family:Monospace; 
font-size:45pt; 
margin-left:5rem; 
margin-top:15rem;}

img {
width:450px; 
height:450px; 
border-radius:300px; 
float:right; }

img {
position:relative; 
bottom:400px; 
right:100px;}

